@font-face {
    font-family: 'Maiden Orange';
    src: url(./fonts/Maiden_Orange/MaidenOrange-Regular.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e3807;
    color: white;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #4d1f16;
}

::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffde00;
    cursor: pointer;
}

nav {
    width: 100%;
    max-width: 1440px;
}

nav>div {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
}

nav a {
    color: #ffa500;
    text-decoration: none;
    font-size: 12px;
}

nav a:hover {
    color: #ffde00;
    transition: 125ms;
}

h1 {
    font-family: 'Maiden Orange';
    color: #ffde00;
    font-size: 48px;
    margin: 0 0 12px;
}

.game-container {
    position: relative;
}

canvas {
    background-color: #532605;
    z-index: 1;
    width: 720px;
    max-height: 100dvh;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 720px;
    height: 480px;
    max-height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
}

.mobile-nav-buttons {
    position: absolute;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: 100%;
    display: none;
    align-items: flex-end;
    justify-content: space-between;
}

.mobile-nav-buttons img {
    height: 24px;
    width: auto;
    filter: brightness(0) saturate(100%) invert(10%) sepia(16%) saturate(7106%) hue-rotate(345deg) brightness(100%) contrast(90%);
}

#navigation-left img {
    transform: rotate(180deg);
}

.mobile-nav-buttons .column-left {
    display: flex;
    gap: 16px;
}

.mobile-nav-buttons .column-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-nav-buttons button {
    font-family: 'Maiden Orange';
    font-size: 24px;
    border: unset;
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0px #9a3a17;
    padding: 4px;
    cursor: pointer;
    z-index: 100;
    background-color: #ffde00;
    color: #4d1f16;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.overlay button {
    font-family: 'Maiden Orange';
    font-size: 32px;
    border: unset;
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0px #9a3a17;
    position: relative;
    height: 56px;
    top: 48px;
    padding: 8px;
    cursor: pointer;
    z-index: 100;
    background-color: #ffde00;
    color: #4d1f16;
}

.mobile-nav-buttons button:hover,
.overlay button:hover {
    transition: 0.4s;
    background-color: #ffa500;
}

.mobile-nav-buttons button:active,
.overlay button:active {
    box-shadow: inset 4px 4px 0px 0px #9a3a17;
    border-style: none inset inset none;
    border-width: 1px;
    border-color: #4d1f16;
}

.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-explain {
    margin-top: 16px;
    display: flex;
    width: 720px;
    gap: 24px;
}

.game-explain .left {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.game-explain .left>div,
.game-explain .left .move>div,
.game-explain .right>div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.game-explain .left .move {
    gap: 12px;
}

.game-explain .key {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 24px;
    font-family: 'Maiden Orange';
    font-size: 24px;
    border: unset;
    border-radius: 4px;
    box-shadow: 2px 2px 0px 0px #9a3a17;
    padding: 0 4px;
    background-color: #ffde00;
    color: #4d1f16;
}

.game-explain .text {
    color: #ffde00;
    font-size: 20px;
}

.responsive-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.911);
    width: 100%;
    height: 100dvh;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsive-overlay img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(39%) saturate(1709%) hue-rotate(1deg) brightness(104%) contrast(105%);
}

.responsive-overlay p {
    font-family: 'Maiden Orange';
    font-size: 32px;
    color: #ffa500;
}

.game-settings {
    display: flex;
    justify-content: space-between;
    width: 720px;
    margin-bottom: 16px;
}

.mute-button img {
    height: 34px;
    width: auto;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(10%) sepia(16%) saturate(7106%) hue-rotate(345deg) brightness(100%) contrast(90%);
}

.mute-button img:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(39%) saturate(2725%) hue-rotate(359deg) brightness(104%) contrast(105%);
    transition: 125ms;
}

.mute-button .not-muted {
    filter: brightness(0) saturate(100%) invert(57%) sepia(86%) saturate(643%) hue-rotate(359deg) brightness(101%) contrast(108%);
}

.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    align-self: flex-start;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-text {
    width: max-content;
    position: absolute;
    left: 66px;
    top: 9px;
    color: #532605;
    font-weight: bold;
    -webkit-transition: 125ms;
    transition: 125ms;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 34px;
    background-color: #532605;
    -webkit-transition: 125ms;
    transition: 125ms;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #7e3807;
    -webkit-transition: 125ms;
    transition: 125ms;
}

input:checked+.slider {
    background-color: #ffa500;
}

input:checked~.switch-text {
    color: #ffa500;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7e3807;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}